/* body {
  background-color: rgb(97, 212, 207);
} */
a {
  text-decoration: none;
  color:#419a1c;
}
a:hover {
  text-decoration: underline; 
  opacity: 0.8;
}

/* a:visited {
  text-decoration: none;
  color:#7811a7;
} */
i {
  color: #419a1c;
}
i:hover {
  opacity: 0.8;
}

img.project-img {
  max-width: 250px;
  max-height: 25rem;
  margin-bottom: 10px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 3.0rem;
}

#footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  height: 3.0rem;
}
